<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog Site</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/articles">Articles</a>
      <a href="/articles/new">Add Article</a>
    </nav>
    <h1>LAYOUT PAGE</h1>
    <%- body %>
  </body>
</html>
