<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog Site</title>

  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/articles">Articles</a>

      <% if (locals.isAuthenticated && locals.currentUser.admin) { %>
        <a href="/users/">All Users</a>
      <% } %>

      <% if (locals.isAuthenticated) { %>

        <a href="/users/<%= locals.currentUser._id %>">My account</a>
        <a href="/logout">Log out</a>
        <a href="/articles/new">Add an article</a>
      <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } %>

    </nav>
    <h1>LAYOUT PAGE</h1>

    <% for (const type in messages) { %>
    <p class="notification <%= type %>"><%= messages[type] %></p>
    <% } %>

    <main>
      <%- body %>
    </main>

  </body>
</html>
