div.unpublished {
  background-color: lightgrey;

}


div.container{
  max-width: 800px;
}

p.blockQuote{
  font-style: italic;
}

.comment {
  margin: 15px 0;
  padding: 10px;
  border: 1px lightgrey solid;
  border-radius: 2px;
}

.moderate-panel {
  background-color: pink;
  padding: 5px;
}


.has-been-moderated {
  background-color: skyblue;
}

label.checkbox {
  padding-right: 10px;
}

img {
  object-fit: cover;
}

.author-profile {
  display: flex;
}

.author-profile > * {
  margin: 10px;
}

h5.author-name.title {
  /* background-color: red; */
  margin: 0;
}

.author-details {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.article-buttons {
  padding-top: 20px;
  margin: 5px;
}

.account-pic .is-square {
  padding-top: 0;
}

.button.is-text.all-users-edit-button {
  /* background-color: red; */
  padding-left: 0;
  margin-left: 0;

}

div.admin-toggle {
  background-color: pink;
  padding: 4px;
}

div#navMenu {
  position: absolute;
  width: 100%;
}

.brand-title {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 40px;
  color: black;

}
