<h1>New Article Page</h1>

<form class="" action="/articles" method="post">

  <div class="">
    <label for="title"></label>
    <input type="text" id="title" name="title" placeholder="Title">
  </div>

  <div class="">
    <label for="subtitle"></label>
    <input type="text" id="subtitle" name="subtitle" placeholder="Subtitle">
  </div>

  <div class="">
    <label for="image"></label>
    <input type="text" id="image" name="image" placeholder="image URL">
  </div>

  <div class="">
    <label for="text"></label>
    <input type="text" id="text" name="text" placeholder="Write article here">
  </div>

  <div class="">
    <label for="author"></label>
    <input type="text" id="author" name="author" placeholder="Author Name">
  </div>

  <div class="">
    <label for="blockQuote"></label>
    <input type="text" id="blockQuote" name="blockQuote" placeholder="Block Quote">
  </div>

  <div class="">
    <label for="readingTime"></label>
    <input type="text" id="readingTime" name="readingTime" placeholder="Reading Time">
  </div>

  <button name="button">Submit</button>

</form>
